@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  width: 350px;
}

.container {
  background: linear-gradient(rgb(162, 0, 255), rgb(83, 52, 170));
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#new-task {
  padding: 10px;
  width: calc(100%);
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

#add-task-btn {
  padding: 10px;
  width: 100%;
  background: linear-gradient(crimson, deeppink);
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 13px;
  transition: opacity 0.3s ease;
  font-weight: 500;
}

#task-list {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

#task-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #e0e0e0;
  margin-bottom: 5px;
  border-radius: 4px;
  overflow: hidden;
}

#task-list li span {
  flex-grow: 1;
  margin-left: 10px;
  word-break: break-all;
}

input[type="checkbox"] {
  cursor: pointer;
}

button:not(#add-task) {
  margin-left: 5px;
  padding: 5px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

button:hover {
  opacity: 0.8;
}
